.tox {
    &-tinymce {
        border: 0;
        overflow: initial;
        min-height: calc(100vh - 100px);
    }

    &-fullscreen {
        .tox-editor-header {
            position: initial;
        }
    }

    &-editor-container {
        overflow: initial !important;
    }

    &-toolbar {
        &-overlord {
            background-color: initial;
        }

        &__primary {
            background: #f6f8fa !important;
            padding: 5px 10px !important;
        }

        &__overflow {
            background: #f6f8fa !important;
            padding: 5px 10px !important;
            margin-top: 5px !important;
            display: flex;

            &--closed {
                display: none !important;
            }
        }
    }

    &-editor-header {
        position: sticky;
        top: 0;
        box-shadow: 0 4px 7px -3px rgba(0,0,0,.25)!important;
    }

    &-sidebar-wrap {
        padding: 0 15px !important;
    }


    .tox {
        &-tbtn svg {
            fill: $--color-primary-light-1;
            zoom: 0.9;
        }

        &-tbtn--disabled svg {
            fill: $--color-primary-light-7;
        }
    }

}