.library-view-style--medium {
    .c-library-editor-text {
        background-color: #fcfcfc !important;
        padding: 20px;
        display: flex;

        .el-textarea {
            box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.1);
            max-width: 900px;
            margin: 0 auto;
        }
    }
}