.library-view-style--medium {

    .c-library-editor-text-view {
        width: 900px;
        margin: 20px auto;
    }

    .doc-title {
        margin-top: 0;
        margin-bottom: 50px;
        font-size: 40px;
        text-align: center;
    }

}

.library-view-style--full {

    .doc-title {
        margin-top: 0;
        margin-bottom: 50px;
        font-size: 40px;
    }

}