.vditor-reset {
    table {
        font-size: 14px;
        display: block;
    }

    .vditor-task {
        word-break: break-all;
    }

    code {
        transition: opacity 0.3s;
        opacity: 0;

        &.hljs {
            opacity: 1;
        }
    }
}

.doc-body__toc {
    border-left: 1px solid $--color-primary-light-9;
    width: 200px;
    margin-right: 20px;

    .el-scrollbar {
        position: sticky;
        height: calc(100vh - 50px);
        top: 0;
    }


    &-content {
        top: 0;
        padding: 10px 0;
        font-size: 13px;
        color: $--color-primary-light-4;

        .vditor-outline__item {
            padding: 0 15px;
            margin: 10px 0;
            border-left: 2px solid #00000000;

            &:hover {
                color: $--color-primary-light-1;
            }

            &--current {
                color: $--color-primary-light-1;
                border-left: 2px solid $--color-primary-light-1;
            }
        }
    }

}